body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.timer{
    font-size: 4rem;
    min-width: 35rem;
    min-height: 10rem;
    max-height: 10rem;
    text-align: center;
    padding-top: 2rem;
}
.btns{
    display: flex;
    justify-content: center;
}

button{
    width: 10rem;
    margin: 1rem;
    height: 2rem;
}